  <div class="mdl-grid">
  <div class="mdl-layout-spacer"></div>
  <div class="mdl-cell mdl-cell--4-col">
    <h3>Crear una cuenta</h3> 
    <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= f.error_notification %>


    <div class="mdl-textfield mdl-js-textfield">
      <label class="mdl-textfield__label" for="email">Correo Electronico</label>
      <%= f.input :email, required: true, label: false, autofocus: true, :input_html => { :class => 'mdl-textfield__input' } %>
    </div>
    
    <div class="mdl-textfield mdl-js-textfield">

      <label class="mdl-textfield__label" for="password">Contraseña</label>
      <%= f.input :password, required: true, label: false, :input_html => { :class => 'mdl-textfield__input' } %>
    </div>


    <div class="mdl-textfield mdl-js-textfield">
      <label class="mdl-textfield__label" for="email_confirmation">Confirmar contrseña</label>
      <%= f.input :password_confirmation, required: true, label: false, :input_html => { :class => 'mdl-textfield__input'} %>
    </div>

    <%= f.button :submit, "Registrarse", class: 'mdl-button mdl-button--raised mdl-button--accent' %>
<% end %>
  </div>
  <div class="mdl-layout-spacer"></div>
</div>

<br /><br /><br /><br /><br />
